
<div id="banner">

</div>
<div class="container">
    <div class="person" id="alwin">
        <div class="info">
            <p class="name">ALWIN MATHEW</p><br><br>
            <p class="title">Programmer</p>
            <div class="blurb">
                <p>Alwin is a Senior in Mechanical Engineering at NC State
                University. Pursuing a Minor in Computer Programming, his true passion
                lies in App Programming and Web Development. While he enjoys reading
                and lifting occassionally, he enjoys the satisfaction of a finished
                project more than anything else.</p>
                <p>Contribution: The entirety of the server scripts, user interface,
                and database infrastructure is written, tested, debugged, and maintained
                by him. </p>
            </div>
        </div>
        <div class="photo">
            Hold
        </div>
    </div>

    <div class="person" id=kevin>
        <div class="info">
            <p class="name">KEVIN MATHEW</p><br><br>
            <p class="title">Health Advisor</p>
            <div class="blurb">

            </div>
        </div>

        <div class="photo">
            Hold 
        </div>
        
    </div>
</div>
