<form method="post">
    <div class="form-group form-padding">
        <label for="user">Enter Username</label>
        <input class="form-control" name="user" id="user" type="text" placeholder="Username">
    </div>
    <div class="form-group form-padding">
        <label for="pass">Enter Password</label>
        <input class="form-control" name="pass" id="pass" type="password" placeholder="Password">
    </div>
    <div class="form-padding">
        <input type="submit" value="Login"  class="btn btn-primary btn-block form-padding">
    </div>
</form>